@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@300&display=swap');


* {
    margin:0;
    padding: 0;
    border: none;
}



body {
    font-family: Playfair Display, Source Sans;
    font-weight: 300;
    color: rgb(53, 53, 53);
}

h1, h2 {
    font-family: Playfair Display, Source Sans;
    letter-spacing: 3px;
    color: rgb(53, 53, 53);
    

}

#logo {
    float: left;
    font-size: 50px;
    line-height: 75px;
}


#navbar {
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 75px;
}

#navbar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#navbar a {
    text-decoration: none;
    color: rgb(53, 53, 53);
}

#navbar a:hover {
    border-bottom: 1px solid rgb(53, 53, 53);
}

.active {
    border-bottom: 1px solid rgb(53, 53, 53);
}




#background-image {
    height: 600px;
    width: 100%;
   background-image: url(../images/yoga-background.jpg);
   background-size: 100% 100%;;
   background-repeat: no-repeat;
   background-position: center center;

  }

  #welcome-text, #welcome-text h2{
      color: rgb(38,25,17);

  }

  #welcome-text {
      font-size:130% ;
      font-family: Playfair Display, Source Sans;
      letter-spacing: 3px;

      padding-top: 40px;
      padding-left: 10px;
      background-color: rgb(249,246,239);
      top: 50px;
      left: 25%;
      position:absolute;
      align-items: center;
      text-align: center;
      margin: 30px;
      border: 1px solid white;
      opacity: 0.6;

      
  }

#welcome-text p {
    margin: 5%;
    font-weight: bolder;
    color: rgb(53, 53, 53);
    font-size: 30px;
}


  #welcome-wrapper {
    background: rgb(53, 53, 53);
    border: 2px solid white;
    
}

