@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@300&display=swap');


* {
    margin:0;
    padding: 0;
   
}



body {
    font-family: Playfair Display, Source Sans;
    font-weight: 300;
   background-color: rgb(249,246,239);
   overflow-x: hidden;
overflow-y: scroll;
}

h1, h2 {
    font-family: Playfair Display, Source Sans;
    letter-spacing: 3px;
    color: rgb(38,25,17);
    

}

#logo {
    float: left;
    font-size: 50px;
    line-height: 75px;
    color: rgb(38,25,17);
}


#navbar {
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 75px;
    
}

#navbar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#navbar a {
    text-decoration: none;
    color: rgb(38,25,17);
}

#navbar a:hover {
    border-bottom: 1px solid rgb(219, 169, 136);
}

.active {
    border-bottom: 1px solid rgb(219, 169, 136);
}


#image-wrapper {
    height: 600px;
    width: 96%;
    overflow: hidden;
    position: relative;
  
}



#background-image {
    height: 600px;
    width: 100%;
   background-image: url(../images/yoga-background.jpg);
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-position: center center;
   

  }

  #welcome-text, #welcome-text h2{
      color: rgb(38,25,17);

  }

  #welcome-text {
      font-size:130% ;
      font-family: Playfair Display, Source Sans;
      letter-spacing: 3px;
      padding-top: 40px;
      padding-left: 10px;
      background-color: rgb(249,246,239);
      position:absolute;
      align-items: center;
      text-align: center;
      margin: 20px;
      border: 1px solid rgb(22, 44, 58);
      opacity: 0.6;

      
  }

#welcome-text p {
    margin: 2%;
    font-weight: bolder;
    color: rgb(53, 53, 53);
    font-size: 30px;

}


  #welcome-wrapper {
    background: rgb(53, 53, 53);
    border: 2px solid white;
    }

#about {
    width: 96%;
    padding: 75px 0px;
    background-color: rgb(233, 230, 225);
   
    
}

#about, img {
    height: 400px;
    max-width: 96%;
    display: block;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 20px;
    border-radius: 10px;
    
}

#about-text {
    width: 520px;
}

#main {
    width: 1120px;
    max-width: 95%;
    margin: -45px auto;
    align-items: center;
    justify-content:center;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;

}

#about-text, h1 {
    color: rgb(38,25,17);
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 4px;
}


#about-text, h5 {
    color: rgb(38,25,17);
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 3px;
    overflow-x: hidden;
    overflow-y: hidden;
}


#about-text, p {
    color: rgb(38,25,17);
    letter-spacing: 2px;
    line-height: 20px;
    font-size: 15px;
    margin-bottom: 20px;
    font-family: Source Sans, Playfair Display;
    overflow-x: hidden;
    overflow-y: hidden;
}

button {
    background: rgb(219, 169, 136);
    color: rgb(22, 44, 58);
    text-decoration: none;
    font-size: 30px;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
}

button:hover {
    background: transparent;
    border: 2px solid rgb(217, 124, 80);
    cursor: pointer;
}


.container {
    width: 1180px;
    margin: 70px auto 0 ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    
}

.container .box {
    position: relative;
    width: 500px;
    background:rgb(233, 230, 225) ;
    margin: 8px;
    box-sizing: border-box;
    display: inline-block;
    height: 350px;
    overflow: hidden;
    
}

.container .box .image-box  {
    position: relative;
    
}

.container .box .image-box img {

transition: transform, 2s;
height: 330px;
width: 500px;
margin-left: 45px;
margin-top: 30px;
margin-bottom: 0;
margin-top: 12px;
object-fit: cover;
}

.container .box:hover .image-box img {
    transform: scale(1.1);
}

.container .box .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(128, 127, 127, 0.5);
    transform: scaleY(0);
    transition: transform 0.5s;
}

.container .box:hover .details{
    transform: scaleY(1);
}

.container .box .details .content {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    text-align: center;
    padding: 15px;
    color: rgb(233, 230, 225);
}

.container .box .details .content h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color:rgb(233, 230, 225);
    font-weight: bold;
    text-transform: capitalize;
    
}

.content-paragraph {
    margin: 10px 0 0;
    padding: 0;
    color:rgb(233, 230, 225);
    letter-spacing: 3px;
}


.contact  {
    padding: 35px 15px;
    background: rgb(22, 44, 58);
    height: 100%;
    width: 96%;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    grid-gap: 6rem;
    margin-top: 80px;
    margin-left: 3px;
    margin-right: 50px;
    overflow: hidden;
}

.contact-img {
    max-width: 100%;
    width: 720px;
    height:auto ;
    border-radius: 5px;
    margin-right: 85px;
    overflow: hidden;

}

.contact-form h1 {
    font-size: 50px;
    color: rgb(217, 124, 80);
    margin-bottom: 20px
}

.contact-form p {
    color: rgb(217, 124, 80);
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 3.8rem;
}

.contact-form form {
    position: relative;
}

.contact-form form input, form textarea {
    padding: 17px;
    width: 100%;
    border: none;
    outline: none;
    background-color:rgb(249,246,239);
    color: rgb(53, 53, 53);
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form form .btn {
    display: inline-block;
    background: rgb(217, 124, 80);
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 220px;
    transition: ease .20s;
    cursor: pointer;
}

.contact-form form .btn:hover {
    border: 2px solid rgb(219, 169, 136);
    background: transparent;
    transform: scale(1.1);

}


.footer {
    padding: 28px 0;
    background-color: rgb(228, 213, 202);
}

.footer .socials {
text-align: center;
padding-bottom: 25px;
color: rgb(38,25,17);
}

.footer .socials a {
    font-size: 24px;
    color: inherit;
    border: 1px solid rgb(106, 72, 92);
    width: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .socials a:hover {
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul a {
    color: rbg;
    text-decoration: none;
    opacity: 0.8;
    
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    opacity: 1.3;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: rgb(106, 72, 92); 
}




@media screen and (max-width:950px) {
    #navbar {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #welcome-text {
        left: 0;
    }

    #about {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome-text, #welcome-text h2 {
        width: inherit;
    }

    .about-text {
        width: 100%;
        text-align: center;
    }
}

 